In [1]:
import pandas as pd

In [2]:
borrowings = pd.read_csv('Borrowings_pc.csv')
consumer_loans = pd.read_csv('Consumer_Loans_pc.csv')
commercial_loans = pd.read_csv('Commercial_and_Industrial_Loans_pc.csv')

In [3]:
borrowings

           DATE  H8B3094NCBA_PCH
0    2003-09-01         -2.84935
1    2003-10-01         -0.52739
2    2003-11-01         -0.33504
3    2003-12-01          1.21509
4    2004-01-01          4.00976
..          ...              ...
236  2023-05-01          0.16145
237  2023-06-01         -1.63324
238  2023-07-01         -3.31905
239  2023-08-01         -1.04501
240  2023-09-01          2.54372

[241 rows x 2 columns]

In [4]:
borrowings = borrowings.rename(columns={"H8B3094NCBA_PCH":"borrowings_pc"})

In [5]:
consumer_loans

           DATE  H8B1029NCBCMG
0    2003-09-01           -3.5
1    2003-10-01            1.5
2    2003-11-01            5.3
3    2003-12-01           -1.5
4    2004-01-01            6.8
..          ...            ...
236  2023-05-01            6.0
237  2023-06-01            3.0
238  2023-07-01            2.4
239  2023-08-01            5.9
240  2023-09-01            3.7

[241 rows x 2 columns]

In [6]:
consumer_loans = consumer_loans.rename(columns={"H8B1029NCBCMG":"consumer_loans_pc"})

In [7]:
commercial_loans

           DATE  H8B1023NCBCMG
0    2003-09-01          -12.6
1    2003-10-01          -16.5
2    2003-11-01           -6.6
3    2003-12-01          -10.3
4    2004-01-01          -15.7
..          ...            ...
236  2023-05-01           -2.6
237  2023-06-01           -2.1
238  2023-07-01           -0.7
239  2023-08-01           -0.1
240  2023-09-01            0.4

[241 rows x 2 columns]

In [8]:
commercial_loans = commercial_loans.rename(columns={"H8B1023NCBCMG":"commercial_loans_pc"})

In [9]:
borrowings['DATE'] = pd.to_datetime(borrowings['DATE'])
consumer_loans['DATE'] = pd.to_datetime(consumer_loans['DATE'])
commercial_loans['DATE'] = pd.to_datetime(commercial_loans['DATE'])

In [10]:
commercial_banks_data = pd.merge(borrowings, consumer_loans, how='outer', on='DATE')
commercial_banks_data = pd.merge(commercial_banks_data, commercial_loans, how='outer', on='DATE')

In [11]:
commercial_banks_data

          DATE  borrowings_pc  consumer_loans_pc  commercial_loans_pc
0   2003-09-01       -2.84935               -3.5                -12.6
1   2003-10-01       -0.52739                1.5                -16.5
2   2003-11-01       -0.33504                5.3                 -6.6
3   2003-12-01        1.21509               -1.5                -10.3
4   2004-01-01        4.00976                6.8                -15.7
..         ...            ...                ...                  ...
236 2023-05-01        0.16145                6.0                 -2.6
237 2023-06-01       -1.63324                3.0                 -2.1
238 2023-07-01       -3.31905                2.4                 -0.7
239 2023-08-01       -1.04501                5.9                 -0.1
240 2023-09-01        2.54372                3.7                  0.4

[241 rows x 4 columns]

In [12]:
# remove COVID affected months (i.e. removing data from March 2020 to June 2020)
commercial_banks_data = commercial_banks_data.loc[(commercial_banks_data['DATE'] < '2020-03-01') | (commercial_banks_data['DATE'] > '2020-06-01')]

In [13]:
commercial_banks_data

          DATE  borrowings_pc  consumer_loans_pc  commercial_loans_pc
0   2003-09-01       -2.84935               -3.5                -12.6
1   2003-10-01       -0.52739                1.5                -16.5
2   2003-11-01       -0.33504                5.3                 -6.6
3   2003-12-01        1.21509               -1.5                -10.3
4   2004-01-01        4.00976                6.8                -15.7
..         ...            ...                ...                  ...
236 2023-05-01        0.16145                6.0                 -2.6
237 2023-06-01       -1.63324                3.0                 -2.1
238 2023-07-01       -3.31905                2.4                 -0.7
239 2023-08-01       -1.04501                5.9                 -0.1
240 2023-09-01        2.54372                3.7                  0.4

[237 rows x 4 columns]

In [14]:
commercial_banks_data.to_csv('commercial_banks_data.csv')